<!DOCTYPE html>
<!-- extensible javascript- its a template engine that plugs stuff into the template -->
<!-- i.e. a post template that renders the post -->
<!-- whatever path you're on is rendered-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>21 Savage Fans</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>21 Savage</h1>
  <h2>Why you trappin so hard?</h2>


  <h3>Messages</h3>
  <ul class="messages">
    <!-- //set up to loop/ itterate through the messages which is holding the documnets(objects-which contain properties-name, msg, thumbUp, ThumbDown) array-->
  <% for(var i=0; i<messages.length; i++) {%>
    <li class="message">
      <span><%= messages[i].name %></span>
      <span><%= messages[i].msg %></span>
      <span><%= messages[i].thumbUp %></span>
      <span><%= messages[i].thumbDown %></span>
      <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
  <% } %>
  </ul>

  <h2>Add a message</h2>

<!-- the action on the form is the messages  -->
<!-- when you submit a form, that is a post request (handled by the API) -->
  <form action="/messages" method="POST">
    <!--names are used on the server side  -->
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="message" name="msg">
    <!--submitting a form is a post request  -->
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
